flake8==3.8.4
flake8-html==0.4.1
importlib-metadata==3.5.0
Jinja2==2.11.3
jsons==1.4.0
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.8.0
tinydb==4.3.0
typish==1.9.1
zipp==3.4.0
